/* THIS FILE IS NOT USED ANYWHERE */

account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="tel"],
.account-form select,
.account-form input[type="password"] {
  width: 230px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
  margin-left: 12px;
}
.account-form select {
  background: #fff;
}
.account-form input[disabled] {
  background: #f5f5f5;
}
.account-form label {
  width: 125px;
  text-align: right;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: normal;
}
.account-form input[type="submit"] {
  background: #7ec443;
  color: #fff;
  border: none;
  width: 230px;
  margin-left: 109px;
  margin-top: 0;
}
.account-form {
  margin-top: 30px;
}
.settings-wrapper {
  padding-top: 24px;
}
h2.account-title {
  margin-bottom: 18px;
}
.account-submit input[type="submit"].disabled {
  background: none;
  border: 1px solid #979797;
  color: #979797;
}
.account-change-password {
  width: 337px;
}
.account-change-password a {
  text-align: center;
  float: right;
  display: block;
  width: 140px;
  color: #7ec443;
  border: 1px solid #7ec443;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 18px;
  cursor: pointer;
}
.change-pwd-wrapper label,
.add-account-wrapper label,
.edit-sensor-wrapper label,
.settings-add-location-wrapper label,
.settings-edit-location-wrapper label {
  display: block;
  text-align: left;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: normal;
}
.add-account-wrapper select,
.settings-add-location-wrapper select,
.settings-edit-location-wrapper select {
  width: 230px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
  background: #fff;
}
.settings-wrapper label {
  display: block;
  text-align: left;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: normal;
}
.settings-wrapper select {
  width: 230px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
  background: #fff;
}
.modal-header .close {
  margin-top: 0px;
  line-height: 25px;
}
.edit-sensor-wrapper input[type="text"] {
  width: 230px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
}
.active-user:before {
  content: '';
  float: left;
  background: #7ec443;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  margin-right: 4px;
}
.pending-user:before {
  content: '';
  float: left;
  background: #964e16;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  margin-right: 4px;
}
.bin {
  background: url("../../assets/images/bin.svg");
  height: 22px;
  width: 18px;
  display: block;
  float: right;
}
.bin-default-settings {
  background: url("../../assets/images/bin.svg");
  height: 22px;
  width: 18px;
  display: block;
  float: left;
  margin-top: 7px;
}
.table-email {
  color: #585e66;
}
table.table tr td.table-heading {
  border-top: none;
}
td.table-heading h4 {
  margin-top: 18px;
}
.settings-button {
  color: #7ec443;
  border: 1px solid #7ec443;
  margin-left: 14px;
}
.settings-dropdown {
  margin-left: 24px;
  margin-top: 3px;
}
.feedback-container label {
  display: block;
  width: 95px;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: normal;
}
.feedback-container .required {
  color: #d0011b;
}
.feedback-container input[type="text"] {
  width: 230px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
}
.feedback-submit input[type="submit"] {
  background: #7ec443;
  color: #fff;
  border: none;
  width: 230px;
  margin-top: 0;
}
.feedback-container textarea {
  resize: none;
  width: 230px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
}
.feedback {
  margin-top: 20px;
}
.single-faq {
  margin-top: 32px;
}
.single-faq h5 {
  margin-bottom: 8px;
}
.live-feeds-table {
  margin-top: 20px;
}
.live-feeds-table tr tr {
  margin-left: 40px;
}
.senzo-api textarea {
  width: 100%;
  height: 200px;
  padding-left: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
  resize: none;
}
.generate {
  background: none;
  margin-top: 10px;
}
.current-api-key {
  margin-top: 28px;
}
.sensor-settings-table {
  margin-top: 40px;
}
.sensor-settings-table>tbody>tr>td {
  vertical-align: middle;
}
.all-locations-select,
.maintenance-select {
  line-height: 38px;
  margin-left: 28px;
}
.location-picker {
  line-height: 38px;
}
.default-settings-bottom a {
  margin-left: 24px;
}
.default-settings-card {
  margin-top: 20px;
}
.days-picker input[type="checkbox"] {
  display: none;
}
.custom-checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #979797;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}
.chbx:checked + .custom-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #7ec344;
  border-radius: 8px;
}
.working-days {
  margin-top: 20px;
}
.working-hours {
  margin-top: 20px;
}
.week-day {
  display: block;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
}
.days-picker {
  margin-top: 14px;
}
.days-picker label {
  width: 120px;
}
.default-settings-bottom {
  margin-top: 12px;
}
.hours-picker {
  height: 60px;
  width: 100%;
  background: #ccc;
  margin-top: 14px;
}
.add-loc-button {
  margin-left: 36px;
}
.locations-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.locations-list .location-name {
  font-size: 18px;
  font-weight: bold;
}
.edit-btn {
  position: relative;
}
.settings-location-dropdown {
  left: auto;
  right: 0;
  min-width: 130px;
}
.settings-location-dropdown a {
  color: #585e66;
}
.settings-location-dropdown a:hover {
  color: #7ec443;
}
.settings-location-dropdown a:active,
.settings-location-dropdown a:visited {
  color: #585e66;
}
.location-options .button,
.location-options .bin {
  margin-left: 20px;
}
.location-options .bin {
  margin-top: 5px;
}
.locations-list ul {
  margin-left: 18px;
  padding: 0;
}
.locations-list li ul li .location-name {
  font-weight: normal;
}
.locations-list li {
  margin-top: 14px;
  margin-bottom: 14px;
}
.settings-edit {
  position: relative;
}
.edit-dropdown {
  width: 200px;
  text-align: left;
  padding: 2px;
}
.zone-type input[type="radio"] {
  margin-right: 6px;
}
.zone-type {
  margin-bottom: 20px;
}
.live-header-wrapper {
  background: #fff;
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.live-title {
  margin-left: 32px;
}
.live-title h1 {
  font-size: 24px;
  line-height: 34px;
}
.live-select {
  position: relative;
  margin-right: 40px;
}
.floorplan-container {
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
}
.temp-floorplan {
  background: #ccc;
  height: 500px;
}
.objects-list td:first-of-type {
  text-align: left;
}
.live-stats-heading {
  font-weight: bold;
  font-size: 16px;
}
.toolbar {
  position: absolute;
  height: 270px;
  width: 130px;
  right: 0;
  top: 90px;
  z-index: 9999;
  padding: 17px 14px 0;
  background: #fff;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
}
.toolbar-seat {
  height: 30px;
  width: 30px;
  display: block;
  float: right;
  margin-bottom: 28px;
}
.toolbar-meeting-room {
  height: 53px;
  width: 100px;
  display: block;
  float: right;
  margin-bottom: 28px;
}
.toolbar-mr {
  height: 52px;
  width: 52px;
  display: block;
  float: right;
  margin-bottom: 28px;
}
.toolbar-arrow-right {
  height: 17px;
  width: 26px;
  display: block;
  float: right;
}
.tb-closed {
  width: 40px;
  padding: 235px 7px 0;
}
.toolbar-arrow-left {
  display: none;
  height: 17px;
  width: 26px;
  display: none;
  float: right;
}
.tb-closed .toolbar-seat,
.tb-closed .toolbar-meeting-room,
.tb-closed .toolbar-mr,
.tb-closed .toolbar-arrow-right {
  display: none;
  transition: all 0.1s;
}
.tb-closed .toolbar-arrow-left {
  display: block;
}
