

.comparison-location-title-card {
    margin: 0 15px 0px 15px;
}
.comparison-location-title-card h2 {
    font-size: 22px;
    line-height: 42px;
    display: inline-block;
}

.comparison-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.comparison-select {
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0;
}

.comparison-grid .grid-card-center {
    grid-row: 2;
}

.comparison-stats-container {
    min-width: 350px;
    max-width: 350px;
}

.comparison-stats-title {
    font-size: 26px;
    color: #585858;
    line-height: 64px;
}

.comparison-stats-body {
    text-align: left;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
}
.comparison-stats-body span {
    font-weight: normal;
    float: right;
    margin-right: 20px;
}
