/* Set z-index of all special elements here to make sure they have the correct order */
.location-dropdown-root {
    z-index: 7094 !important;
}
.invite-modal, .popup-modal {
    z-index: 7093 !important;
}
.modal-overlay {
    z-index: 7092 !important;
}
.static-header {
    z-index: 7091 !important;
}
.static-menu {
    z-index: 7090 !important;
}
