.live-header-wrapper {
  background: #fff;
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.live-title {
  margin-left: 32px;
}
.live-title h1 {
  font-size: 24px;
  line-height: 34px;
}
.live-select {
  position: relative;
  margin-right: 40px;
}
.floorplan-error {
  margin-top: 20px;
  margin-left: 50px;
  display: inline-block;
  height: 100%;
}

.floorplan-container {
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  margin-left: 50px;

  display: inline-block;
  border: 1px solid black;
  padding: 1px;
}
.floorplan-image {
  min-width: 60vw;
  max-width: 80vw;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

}
.objects-list td:first-of-type {
  text-align: left;
}
.live-stats-heading {
  font-weight: bold;
  font-size: 16px;
}
.toolbar {
  position: absolute;
  height: 270px;
  width: 130px;
  right: 0;
  top: 90px;
  z-index: 9999;
  padding: 17px 14px 0;
  background: #fff;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
}
.toolbar-seat {
  height: 30px;
  width: 30px;
  background: url(

"/src/assets/images/toolbar-seat.png");
  display: block;
  float: right;
  margin-bottom: 28px;
}
.toolbar-meeting-room {
  height: 53px;
  width: 100px;
  display: block;
  background: url(

"/src/assets/images/toolbar-meeting-room.png");
  float: right;
  margin-bottom: 28px;
}
.toolbar-mr {
  height: 52px;
  width: 52px;
  display: block;
  background: url(

"/src/assets/images/toolbar-mr.png");
  float: right;
  margin-bottom: 28px;
}
.toolbar-arrow-right {
  height: 17px;
  width: 26px;
  background: url(

"/src/assets/images/toolbar-arrow-right.svg");
  display: block;
  float: right;
}
.tb-closed {
  width: 40px;
  padding: 235px 7px 0;
}
.toolbar-arrow-left {
  display: none;
  background: url(

"/src/assets/images/toolbar-arrow-left.svg");
  height: 17px;
  width: 26px;
  display: none;
  float: right;
}
.tb-closed .toolbar-seat,
.tb-closed .toolbar-meeting-room,
.tb-closed .toolbar-mr,
.tb-closed .toolbar-arrow-right {
  display: none;
  transition: all 0.1s;
}
.tb-closed .toolbar-arrow-left {
  display: block;
}
.breadcrumbs {
  margin-bottom: 22px;
}
.margin-top {
  margin-top: 22px;
}
.breadcrumbs a {
  /*color: bgrey;*/
  font-size: 16px;
}
.bc-divider {
  padding: 0 10px;
}
.bc-element-on {
  cursor: pointer;
}
.bc-element-off, .bc-root {
  color: gray;
}
.card {
  padding: 12px 26px 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
}