.normal-header {
    height: 65px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.static-menu, .static-header {
    position: fixed;
}
.static-header {
    /* z-index: 7091; */
    height: 65px;
    width: 100%;
    background-color: white;
    box-shadow: none;
}
.static-menu {
    top: 65px;
    padding: 18px 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
    background-color: #f6f7f9;
    width: 100%;
}
.header-spacing {
    display: none;
    height: 0;
}
.header-spacing.spacing-active {
    display: block;
    height: 170px;
}
