/* Global modifers for special stylings of elements */

.no-select { /* Disable highlighting selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-drag { /* Disable dragging */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.cursor-pointer {
    cursor: pointer;
}

.percent:after {
    content: "%";
}

.bold {
    font-weight: bold;
}

.red-50 {
    color: #FFEBEE;
}
.red-100 {
    color: #FFCDD2;
}
.red-200 {
    color: #EF9A9A;
}
.red-300 {
    color: #E57373;
}
.red-400 {
    color: #EF5350;
}
.red-500 {
    color: #F44336;
}
.red-600 {
    color: #E53935;
}
.red-700 {
    color: #D32F2F;
}
.red-800 {
    color: #C62828;
}
.red-900 {
    color: #B71C1C;
}
