.users-section,.sensors-section {
    margin-top: 20px;
    width: 100%;
}
.popup-container {
    border-radius: 4px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 16px;
    width: 80%;
}
.account-container {
    width: 400px;
    padding: 8px 14px;
}
table.flat-table {
    width: 100%;
    border-collapse: collapse;
}
.flat-table th, td {
    text-align: left;
    padding: 8px;
    border: none;
}
.flat-table td {
    background-color: #fff;
}
.flat-table th {
    font-size: 14px;
    letter-spacing: 0.04em;
    background-color: rgba(99, 207, 99, 0);
    color: #616161;
    margin-bottom: 6px;
}
.flat-table .table-header-row th:nth-child(1) {
    /* Name */
    width: 25%;
}
.flat-table .table-header-row th:nth-child(2) {
    /* Email */
    width: 22%;
}
.flat-table .table-header-row th:nth-child(3) {
    /* Mobile */
    width: 14%;
}
.flat-table .table-header-row th:nth-child(4) {
    /* Location */
}
.flat-table .table-header-row th:nth-child(5) {
    /* Edit */
    width: 4%;
}
.flat-table .table-header-row th:nth-child(6) {
    /* Delete */
    width: 4%;
}
.flat-table .table-header-row h4 {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
}
.flat-table .table-spacing {
    height: 20px;
    border: none;
    opacity: 0;
}

.popup-color-note {
    background-color: #ffffff;
    position: fixed;
    top: 35%;
    right: 5%;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.4);
}
.popup-color-note tr {
    padding: 0px 20px;
    width: 100%;
    display: block;
}
.popup-color-note td {
    display: inline-block;
}
.popup-color-note span {
    height: 20px;
}
.popup-color-note .popup-color-note-td::before {
    content: ' ';
    margin-right: 2px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: scale(0.7);
}
.popup-color-note .red::before {
    background-color: #EF5350;
}
.popup-color-note .yellow::before {
    background-color: #FBC02D;
}
.popup-color-note .green::before {
    background-color: #7ec443;
}
.popup-color-note .blue::before {
    background-color: #1A237E;
}
.popup-color-note .brown::before {
    background-color: #795548;
}
