@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  background: #f6f7f9;
  font-family: 'Roboto';
  color: #585858;
  padding-bottom: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

h2.new{
  font-family: 'Roboto';
  margin: 0;
  padding: 0
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #585e66;
}
.button {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 26px;
  color: #585e66;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 4px 10px 2px 10px;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.3s;
}
.button-sm {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 20px;
  color: #585e66;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 4px 10px 2px;
  text-align: center;
  transition: all 0.3s;
  display: block;
}
.button:hover,
.button-sm:hover {
  color: #7ec443;
  border: 1px solid #7ec443;
  transition: all 0.3s;
}
.button.active {
  background: #7ec443;
  border: 1px solid #7ec443;
  color: #fff;
}
.dropdown {
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.dropdown ul li {
  margin-bottom: 3px;
}
.dropdown a {
  color: #585858;
}
.all-areas a {
  color: #959aa2;
}
.stats-area-dropdown {
  top: 30px;
}
header {
  height: 62px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-block {
  margin-top: 18px;
}
.location-name {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 33px;
  padding-left: 6px;
  color: #585e66;
}
.header-logo {
  width: 200px;
  margin: auto;
  margin-top: 12px;
}
.user-block {
  margin-top: 18px;
}
.user-icon img,
.location-icon img {
  width: 30px;
}
.user-name {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 30px;
  padding-right: 6px;
  color: #585e66;
}
.main-menu {
  margin-top: 16px;
}
.main-menu-left a:first-of-type {
  margin-right: 10px;
}
.main-menu-time li {
  display: block;
  float: left;
  margin-right: 10px;
}
.main-menu-time li:last-of-type {
  margin-right: 0;
}
.datepicker-parent {
  position: relative;
}
.datepicker {
  position: absolute;
  top: 44px;
  right: 0;
  background: #fff;
  height: 60px;
  width: 355px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  border-radius: 16px;
  padding-top: 15px;
  padding-left: 14px;
}
.datepicker-circle {
  background: #fff;
  height: 18px;
  width: 18px;
  border-radius: 8px;
  position: absolute;
  top: -6px;
  right: 10px;
  transform: rotate(90deg);
  -webkit-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  z-index: -1;
}
.start-date,
.end-date {
  color: #585858;
  font-family: 'Roboto';
  font-size: 14px;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-left: 6px;
  background: url("../../assets/images/calendar.svg") no-repeat;
  background-position: 85px 6px;
}

.start-date,
.end-date > input {
  line-height: normal !important;
}

.login-logo {
  width: 200px;
  height: 37px;
  background-image: url(../../assets/images/header-logo.svg);
}
.start-date:focus,
.end-date:focus {
  outline-color: #7ec443;
}
.date-divider {
  color: #585858;
  margin: -4px 10px 0;
  font-size: 30px;
}
.timepicker-icon {
  margin-left: 8px;
  margin-top: 4px;
}
body.login-page {
  padding: 0;
}
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-card {
  padding: 27px 26px 22px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
  width: 480px;
  margin-top: -60px;
}
.welcome-message {
  font-size: 16px;
  font-weight: normal;
  line-height: 33px;
  margin-bottom: 10px;
}
.recover-message {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 4px;
}
.recover-message:last-of-type {
  margin-bottom: 20px;
}
input[type="username"],
input[type="password"] {
  width: 230px;
  font-size: 16px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
}
.login-wrapper input[type="button"] {
  font-family: 'Catamaran';
  font-size: 18px;
  background: #fff;
  border: 1px solid #585858;
  border-radius: 7px;
  padding: 4px 18px;
  margin-top: 17px;
}
.login-wrapper input[type="button"]:hover {
  border: 1px solid #7ec443;
  color: #7ec443;
}
input[type="checkbox"] {
  margin-right: 6px;
  font-size: 16px;
}
.keep_me_logged_in span {
  font-size: 16px;
}
input:focus {
  outline-color: #7ec443;
}
.forgot-password {
  margin-top: 20px;
}
.forgot-password a {
  color: #577590;
  font-size: 16px;
}
.overview-block {
  margin-top: 60px;
}
.the-card {
  padding: 12px 26px 42px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
  max-width: 400px;
  margin: auto;
}
.card-shape {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
  max-width: 1200px;
  margin: auto;
}
.card-location {
  text-align: center;
  font-size: 28px;
}
.card-inner-location {
  font-size: 16px;
  position: relative;
}
.nav-stats {
  margin-right: 10px;
}
.total-desks-number,
.total-rooms-number {
  font-weight: bold;
  font-size: 26px;
}
.total-desks-inuse,
.total-rooms-inuse {
  color: #a7a6a6;
}
.card-buttons {
  margin-top: 20px;
}
.card-stats-numeric {
  margin-top: 20px;
}
.card-bottom-menu {
  margin-top: 25px;
}
.add-cart-zone {
  cursor: pointer;
  height: 683px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}
.add-card img {
  width: 100px;
}
.add-card .add-card-descr {
  color: #bfbfbf;
  font-size: 20px;
  font-family: 'Catamaran';
  font-weight: normal;
  margin-top: 10px;
}
.card-settings-sticker {
  background: #ff6868;
  border-radius: 100px;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: 36px;
  line-height: 16px;
}
.maintenence-number {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}
.card-gauge-block {
  height: 240px;
  background: #c9c9c9;
  margin-top: 20px;
}
.card-marks-block {
  margin-top: 14px;
  height: 120px;
  background: #c9c9c9;
}
.comparison-wrapper {
  margin-top: 60px;
}
.comparison-title-card {
  font-family: 'Catamaran';
}
.comparison-title-card h2 {
  font-size: 22px;
  line-height: 42px;
  color: #585858;
}
.comparison-stats-card {
  padding: 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.comparison-export {
  margin-top: 20px;
}
.comparison-stats-card span {
  font-weight: normal;
}
.comparison-location-title-card {
  margin-bottom: 20px;
}
.comparison-location-title-card h2 {
  font-size: 22px;
  line-height: 42px;
  display: inline-block;
}
.toggle-button img {
  width: 32px;
  padding-top: 6px;
}
.comparison-first-location,
.comparison-second-location {
  width: 45%;
  float: left;
}
.toggle-wrapper {
  width: 10%;
  float: left;
}
.comparison-graph-card {
  padding: 22px 10px;
  margin-top: 40px;
  min-height: 510px;
}
.stats-graph-card {
  padding: 28px 10px 60px;
  margin-top: 40px;
  min-height: 400px;
}
.comparison-graph-card h2 {
  font-size: 22px;
  padding-left: 70px;
}
.stats-graph-card h2 {
  font-size: 28px;
  padding-left: 70px;
  text-align: center;
}
.graph-options {
  margin-right: 40px;
}
.graph-options div {
  margin-right: 24px;
}
.graph-options div:last-of-type {
  margin-right: 0;
}
.the-graph {
  background: #d8d8d8;
  height: 400px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 0px;
}
.the-graph-legend {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.legend-location-box {
  margin-right: 20px;
}
.legend-location-color {
  height: 40px;
  width: 40px;
}
.location-color-green {
  background: #aad44c;
}
.location-color-blue {
  background: #64adef;
}
.legend-location-name {
  font-family: 'Catamaran';
  font-size: 18px;
  margin-left: 8px;
  padding-top: 10px;
}
.stats-menu {
  padding-top: 20px;
}
.stats-title h1 {
  font-size: 24px;
}
.stats-select {
  padding-top: 4px;
  margin-left: 30px;
  font-size: 16px;
  position: relative;
}
.stats-export img {
  width: 27px;
}
.stats-header-wrapper {
  padding-bottom: 10px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
#sticky-header {
  z-index: 999;
  width: 100%;
  transition: all 0.3s;
}
.stats-live-btn {
  margin-left: 30px;
}
.stats-export {
  margin-left: 30px;
}

.location-dropdown-root {
  position: absolute;
  background: #fff;
  z-index: 99;
  top: 35px;
  width: 200px;
}
.location-dropdown-root ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
/* Flyout CSS menu */
}
.location-dropdown-root ul,
.location-dropdown-root li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}
.location-dropdown-root ul {
  border-top: 3px solid #7ec443;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-dropdown-root ul li.hover,
.location-dropdown-root ul li:hover {
  position: relative;
  z-index: 599;
}
.location-dropdown-root ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
.location-dropdown-root ul li:hover > ul {
  visibility: visible;
}
.location-dropdown-root ul ul {
  top: 0;
  left: 100%;
}
.location-dropdown-root span,
.location-dropdown-root a {
  display: inline-block;
  text-decoration: none;
}
.location-dropdown-root li {
  background: #fff;
}
.location-dropdown-root li:hover,
.location-dropdown-root li.active {
  background: #fff;
}
.location-dropdown-root a {
  color: #585e66;
  line-height: 160%;
  padding: 10px 8px 10px 18px;
  width: 164px;
}
.location-dropdown-root ul ul li {
  background: #fff;
/* Flyout CSS menu */
}
.settings-wrapper {
  padding-top: 24px;
}
h2.account-title {
  margin-bottom: 18px;
}
.card {
  padding: 12px 26px 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
}
.btn-green {
  color: #7ec443;
  border: 1px solid #7ec443;
}
.btn-green:hover,
.btn-green:active,
.btn-green:visited {
  color: #7ec443;
  border: 1px solid #7ec443;
}
.add-loc-button {
  margin-left: 36px;
}
.locations-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.locations-list .location-name {
  font-size: 18px;
  font-weight: bold;
}
.change-pwd-wrapper label,
.add-account-wrapper label,
.edit-sensor-wrapper label,
.settings-add-location-wrapper label,
.settings-edit-location-wrapper label {
  display: block;
  text-align: left;
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: normal;
}
.add-account-wrapper select,
.settings-add-location-wrapper select,
.settings-edit-location-wrapper select {
  width: 230px;
  height: 36px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px rgba(151,151,151,0.5);
  background: #fff;
}
.locations-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.locations-list .location-name {
  font-size: 18px;
  font-weight: bold;
}
.edit-btn {
  position: relative;
}
.settings-location-dropdown {
  left: auto;
  right: 0;
  min-width: 130px;
}
.settings-location-dropdown a {
  color: #585e66;
}
.settings-location-dropdown a:hover {
  color: #7ec443;
}
.settings-location-dropdown a:active,
.settings-location-dropdown a:visited {
  color: #585e66;
}
.location-options .button,
.location-options .bin {
  margin-left: 20px;
}
.location-options .bin {
  margin-top: 5px;
}
.locations-list ul {
  margin-left: 18px;
  padding: 0;
}
.locations-list li ul li .location-name {
  font-weight: normal;
}
.locations-list li {
  margin-top: 14px;
  margin-bottom: 14px;
}
.settings-edit {
  position: relative;
}
.edit-dropdown {
  width: 200px;
  text-align: left;
  padding: 2px;
}
.bin {
  background: url("../../assets/images/bin.svg");
  height: 22px;
  width: 18px;
  display: block;
  float: right;
}
.bin-default-settings {
  background: url("../../assets/images/bin.svg");
  height: 22px;
  width: 18px;
  display: block;
  float: left;
  margin-top: 7px;
}