.live-tooltip {
	padding: 10px;
	border-radius: 8px;
	background: rgba(0,0,0,.8);
	color: #EEEEEE;
}
.tooltip-header {
	width: 100%;
	text-align: center;
}

/*
Add the "data-tooltip" attribute to the html element with the content of the tooltip

NOTES:
- Elements with {overflow: hidden} will need workarounds, see "src\components\pages\overview\widget\widget.jsx"
- Paddings on element will cause tooltip to not center properly, use margin instead.
- For tooltips that don't wrap properly, use &#13 to specify where the text should wrap.
*/


[data-tooltip] {
	position: relative;
	display: inline-block;
}

[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
}

[data-tooltip]:before {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5px;
	padding: 6px 8px;
	width: auto;
	max-width: 220px;
	/* white-space: normal; */
	border-radius: 2px;
	background-color: rgba(20, 20, 20, 0.8);
	color: #ffffff;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 1;
}

/* [data-tooltip]:after {
	content: " ";
    position: absolute;
    bottom: 107%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(20, 20, 20, 0.8) transparent transparent transparent;
} */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}
