.location-block .location-dropdown-root {
    display: none;
}

.location-block:hover .location-dropdown-root{
    display: block;
}
.bar-container {
	height: 100px;
	position: relative;
}

.bar-svg {
	stroke-linecap: round;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.bar-info {
	margin: 0;
	position: absolute;
	height: 90px;
	top: 50%;
	transform: translateY(-50%);
}

.bar-number {
	position: absolute;
	transition-property: left;
	transition-duration: 1s;
	transition-timing-function: ease;
	text-align: center;
}

.bar-number-no-trans {
	position: absolute;
	text-align: center;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

/*
.segment {
	transition-property: stroke-dasharray transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
*/

.bold {
	font-weight: bold;
}

.clock-container {
	margin-top: 40px;
	height: 270px;
}

.arc-container {
	position: relative;
}
.arc-svg {
	position: absolute;
	left: 0;
	top: 0;
    stroke-linecap: round;
	transform-origin: center center;
}
.arc-svg circle {
	fill: none;
	transform-origin: center center;
	transition-property: stroke-dashArray;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.needle-svg {
	position: absolute;
	left: 0;
	top: 0;
}
.needle-svg g {
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.info-container {
	position: absolute;
	width: 420px;
	margin-top: -10px;
}
.info p {
	font-size: 1.3em;
	font-family: "Roboto";
	color: #424242;
	display: inline-block;
	text-align: center;
	line-height: 1.4em;
}
.info .number {
	font-size: 1.6em;
}
.info .left {
	float: left;
}
.info .right {
	float: right;
}
.info .label {
	font-size: 1.7em;
	width: 100%;
	text-align: center;
	margin: 0;
	transform: translateY(180px);
}

.markers-container {
	top: 0;
	position: absolute;
	width: 420px;
	height: 420px;
}
.markers-container .markers {
	font-size: 1.1em;
	text-align: center;
	position: absolute;
	color: #BDBDBD;
	height: 49.1%;
	top: 0px;
	left: 0;
	right: 0;
	transform-origin: 50% 102.5%;
	user-select: none;
}
.markers-container .ticks {
	color: #EEE;
	font-size: 1.5em;
	line-height: 1.8em;
}

.percent:after {
	content: "%";
}
.bold {
	font-weight: bold;
}