.card-container {
    text-align: center;
    margin-bottom: 28px;

    .card-top {
        .card-title {
            display: inline-block;
            font-size: 34px;
            margin: 0 20px;
            margin-bottom: 34px;
        }
    }

    .card-svg {
            display: inline-block;
            position: relative;
            width: 62%;
            margin: auto;

            svg {
                width: 100%;
                overflow: visible;
                left: 0;
                right: 0;

                text {
                    font-weight: 300;
                    font-size: 16px;
                    fill: #000;
                    text-anchor: middle;
                    alignment-baseline: middle;
                    transition: all 0.8s ease;
                }

                circle {
                    transform-origin: center;
                    transform: rotateZ(90deg) scaleX(-1);

                    transition: all 0.8s ease;
                }
                .circle-occupied {
                }
                .circle-available {
                }
            }
        }
}
