.floorplan-container {
    overflow: hidden;
    padding: 4px;
    text-align: center;
    position: relative;

    @keyframes scroll-1 {
        0% { margin-top: 0; }
    }

    @keyframes scroll-2 {
        0% { margin-top: 0; }
    }

    .floorplan-scroll {
        animation-name: scroll-1;
        // animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: 2;
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-play-state: running;

        transition-property: all;
        transition-timing-function: ease;
        position: relative;

        .floorplan-image {
            width: 100%;
        }
    }

    .floorplan-no-scroll {
        display: inline-block;
        position: relative;
        height: 100%;

        .floorplan-image {
            height: 100%;
            max-width: 100%;
            margin: auto;
        }
    }

    .floorplan-animated-enter {
        opacity: 0.01;
    }

    .floorplan-animated-enter.floorplan-animated-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .floorplan-animated-leave {
        opacity: 1;
    }

    .floorplan-animated-leave.floorplan-animated-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }

    .floorplan-sensor {
        @sensor-size: 12px;
        position: absolute;
        width: @sensor-size;
        height: @sensor-size;
        margin-top: -@sensor-size/2;
        margin-left: -@sensor-size/2;
        border-radius: 50%;
        background-color: @color-green; //green

        &.inuse {
            background-color: @color-red; //red
        }
        &.standby {
            background-color: @color-yellow; //yellow
        }
        &.offline {
            background-color: @color-blue; //blue
        }
        &.unregistered {
            background-color: @color-brown; //brown
        }
        &.hidden {
            display: none;
        }
    }


}
