.floorplan-container {
    overflow: hidden;
    padding: 4px;

    .floorplan-scroll {
        margin-top: 0;
        transition-property: all;
        transition-timing-function: ease;
        position: relative;

        .floorplan-image {
            width: 100%;
        }

        .floorplan-image-enter {
            opacity: 0.01;
        }

        .floorplan-image-enter.floorplan-image-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }

        .floorplan-image-leave {
            opacity: 1;
        }

        .floorplan-image-leave.floorplan-image-leave-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }

        .floorplan-sensor {
            @sensor-size: 12px;
            position: absolute;
            width: @sensor-size;
            height: @sensor-size;
            margin-top: -@sensor-size/2;
            margin-left: -@sensor-size/2;
            border-radius: 50%;
            background-color: @color-green; //green

            &.inuse {
                background-color: @color-red; //red
            }
            &.standby {
                background-color: @color-yellow; //yellow
            }
            &.offline {
                background-color: @color-blue; //blue
            }
            &.unregistered {
                background-color: @color-brown; //brown
            }
            &.hidden {
                display: none;
            }
        }
    }
}
