@import "variables.less";

.floorplan-container {
  .point {
    // unused :
    background-color: @color-highlight-green;

    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 30px;

    // -ms-transform: translate(-10px, -10px); /* IE 9 */
    // -webkit-transform: translate(-10px, -10px); /* Safari */
    // transform: translate(-10px, -10px);
    // transform: translate(-10px, -10px);

    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


    &.faulty {
      background-color: @color-highlight-blue;
    }
    &.unregistered {
      background-color: @color-highlight-brown;
    }
    &.inuse {
      background-color: @color-highlight-red;
    }
    &.standby {
      background-color: @color-highlight-yellow;
    }

    &:hover {
      cursor: pointer;
    }
    .selected {
      background-color: green;
    }
  }

  .circle {
    // unused :
    background-color: @color-highlight-green;

    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    border-radius: 30px;

    text-align: center;
    vertical-align: middle;

    color: #eee;
    font-weight: bold;
    user-select: none;

    // -ms-transform: translate(-10px, -10px); /* IE 9 */
    // -webkit-transform: translate(-10px, -10px); /* Safari */
    // transform: translate(-10px, -10px);
    // transform: translate(-10px, -10px);

    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


    &.faulty {
      background-color: @color-highlight-blue;
    }
    &.unregistered {
      background-color: @color-highlight-brown;
    }
    &.inuse {
      background-color: @color-highlight-red;
    }
    &.standby {
      background-color: @color-highlight-yellow;
    }

    &:hover {
      cursor: pointer;
    }
    .selected {
      background-color: green;
    }
  }
}


.content-right-floormap{
  padding: 20px;
  padding-top: 0;
}
.hidden{
  display: none;
}

@-webkit-keyframes pulsate {
  0% { opacity: 0.0; }
  50% { opacity: 1.0; }
  100% { opacity: 0.0; }
}