@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('fonts/Roboto-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto-light";
    src: url('fonts/Roboto-Light.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-light";
    src: url('fonts/Roboto-Light.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: bold;
    // src: url('fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: url('fonts/MaterialIcons-Regular.ttf') format('truetype');
}
