.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #c6c6c6;

    * {
        font-family: "GTWalsheim", sans-serif;
    }

    .login-card {
        padding: 27px 26px 22px;
        background: #fff;
        width: 480px;
        margin-top: -60px;
        text-align: center;
        box-shadow: 20px 20px #e1e1e1;

        .welcome-message {
            font-size: 18px;
            font-weight: 400;
            font-family: "GTWalsheim", sans-serif;
            line-height: 33px;
            margin-bottom: 10px;
        }

        .login-box {
            input[type="username"], input[type="password"] {
                width: 300px;
                box-sizing: border-box;
                outline: none;
                font-size: 18px;
                padding: 0px 10px;
                padding-left: 34px;
                line-height: 32px;
                vertical-align: middle;
                margin: 9px 0;
                border: 1px solid #aaa;
                border-radius: 4px;
                box-shadow: inset 0px 0px 0px 0px @color-green;
                transition: border 0.1s, box-shadow 0.1s;

                &:focus {
                    outline: none;
                    border: 1px solid @color-green;
                    box-shadow: inset 0px 0px 0px 1px @color-green;
                }
            }

            .input-container {
                position: relative;
                display: inline-block;

                .login-icon {
                    position: absolute;
                    left: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }


            input[type="button"] {
                outline: none;
                color: @color-grey;
                background: #fff;
                font-size: 16px;
                border: 1px solid #aaa;
                border-radius: 4px;
                padding: 9px 18px;
                padding: 8px 18px;
                margin-top: 17px;

                transition: all 0.2s ease;

                &:hover {
                    color: white;
                    border-color: @color-green;
                    background-color: @color-green;
                }
            }
        }
    }
}
