@import "card.less";
@import "floorplan.less";
@import "login.less";
@import "forgot.less";
@import "variables.less";
@import "font.less";

body {
    font-family: "GTWalsheim", sans-serif;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    .float {
        position: absolute;

        &.text {
            color: #3f5043;

            &.align-left {
            }
            &.align-right {
                transform: translateX(-100%);
            }
            &.align-center {
                transform: translateX(-50%);
            }
        }
    }


    .pane {
        display: inline-block;
        height: 100vh;
        position: relative;

        &.left {
            float: left;
            width: 75%;
        }
        &.right {
            float: right;
            width: 25%;
            background-color: #3f5043;
        }

        .counter {
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, 0);

            .counter-child {
                display: inline-block;
                margin: 3px;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: inset 0px 0px 0px 1.5px #3f5043;
                transition: box-shadow 0.2s ease;

                &.current {
                    box-shadow: inset 0px 0px 0px 5px #3f5043;
                }
            }
        }

        .loading {
            width: 150px;
            height: 7px;

            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0);

            border-radius: 3px;
            background-color: #e1e1e1;

            .loading-child {
                height: 100%;
                border-radius: 3px;
            }
        }

        .floorplan-outer-container {
            position: absolute;

            top: 28%;
            right: 0px;
            left: 0px;
            bottom: 80px;
            margin: 0 80px;
        }

        .card-outer-container {
            display: inline-block;
            width: 100%;
            margin-top: 4vw;
        }

        .logo-outer-container {
            display: inline-block;
            text-align: center;
            width: 100%;
            position: absolute;
            bottom: 2vw;
            left: 0px;

            img {
                width: 110px;
            }
        }
    }

    // .logo-bar {
    //     height: @logo-height;
    //     width: 100%;
    //     background-color: #fff;
    //     box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    //     text-align: center;
    //
    //     img {
    //         max-width: 100%;
    //         max-height: 100%;
    //         display: block;
    //         margin: auto;
    //     }
    // }
    // .loading-bar {
    //     position: absolute;
    //     top: @logo-height;
    //     height: 2px;
    //     background-color: @color-green;
    // }
    //
    // .location-details {
    //     position: relative;
    //     box-sizing: border-box;
    //     height: @location-height;
    //     line-height: @location-height;
    //
    //     .location-name {
    //         vertical-align: middle;
    //         font-weight: bold;
    //         text-align: center;
    //         max-width: 100%;
    //         overflow-x: hidden;
    //         white-space: nowrap;
    //
    //         .location-name-span {
    //             transition: all 0.4s ease;
    //             font-size: 24px;
    //             color: #000;
    //
    //             &.current {
    //                 color: #000;
    //             }
    //         }
    //         .location-divider {
    //             transition: all 0.4s ease;
    //             color: #aaa;
    //             font-size: 24px;
    //             margin: 0px 3px;
    //             font-weight: 100;
    //
    //             &.current {
    //                 color: #000;
    //                 font-weight: 300;
    //             }
    //         }
    //     }
    // }
    //
    // .content {
    //     height: @content-height;
    //     box-sizing: border-box;
    //     padding: 0 18px;
    //     padding-bottom: 0;
    //
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-template-rows: 1fr 1fr;
    //     grid-gap: 18px;
    //
    //     .grid-floorplan {
    //         grid-row-start: 1;
    //         grid-row-end: 3;
    //         grid-column-start: 1;
    //         grid-column-end: 3;
    //     }
    //
    //     .grid-card {
    //     }
    // }
    //
    // .watermark-container {
    //     height: @watermark-height;
    //     line-height: @watermark-height;
    //     text-align: right;
    //     padding: 0 18px;
    //
    //     .watermark {
    //         vertical-align: middle;
    //         .company-name {
    //             font-variant: small-caps;
    //             color: #333;
    //
    //             span {
    //                 color: @color-green;
    //             }
    //         }
    //     }
    // }
}
