.floorplan-outer-container {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    width: 925px;
    margin-left: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);

    .floorplan-options-container {
        background-color: #fff;
        height: 50px;

        .options-help {
            height: 50px;
            line-height: 50px;
            text-align: center;
            vertical-align: middle;
            position: relative;
            margin-left: 10px;
            display: inline-block;

            .help-icon {
                display: inline-block;
                transition: opacity 0.3s ease-out;
                height: 50px;
                line-height: 50px;
                margin-right: 6px;
                font-size: 18px;

                i {
                    vertical-align: middle;
                    user-select: none;
                    font-size: 18px;
                }

                &.hi-hide {
                    opacity: 1;
                }

                &.hi-hide {
                    opacity: 0;
                }
            }

            .help-text {
                display: inline-block;
                vertical-align: middle;
                transition: font-size 0.3s ease-out,
                opacity 0.3s ease-out;

                &.ht-show {
                    font-size: 18px;
                    opacity: 1;
                }

                &.ht-hide {
                    font-size: 0px;
                    opacity: 0;
                }
            }

        }

        .heatmap-filter {
            float: right;
            display: inline-block;
            font-size: 18px;
            line-height: 50px;
            height: 50px;
            vertical-align: middle;
            .dropdown {
                z-index: 10;

                &.open {
                    z-index: 1000;
                }
            }
        }

        .options-buttons {
            float: right;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
            cursor: pointer;
            color: @color-green;

            &:hover {
                cursor: pointer;
                background-color: darken(#fff, 10%);
            }

            i {
                z-index: 4;
                font-size: 34px;
                user-select: none;
            }
        }
    }
}

.floorplan-container,
.floorplan-container-thumbnail {
    position: relative;
    display: inline-block;
    width: 925px;

    img {
        position: relative;
        z-index: 2;
    }
    .sensor-heatnode {
        position: absolute;
        display: block;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        width: 15px;
        height: 15px;
        opacity: 1;
        transition: opacity 0.3s ease,
        width 0.3s ease,
        height 0.3s ease;

        &:hover {
            z-index: 5;
        }

        &.heat-show-hidden { // Show hidden heat nodes when editing
            // background-color: rgba(33, 33, 33, 1) !important;
            box-shadow: none !important;
            animation: fadeHeatNodes .8s ease-in;
            animation-iteration-count: infinite;
        }

        @keyframes fadeHeatNodes {
            0%   {background-color: rgb(33, 33, 33);}
            50%  {background-color: rgb(179, 179, 179);}
            100% {background-color: rgb(33, 33, 33);}
        }
    }

    .point {
        z-index: 3;
        background-color: @color-highlight-green;
        width: 12px;
        height: 12px;
        position: absolute;
        border-radius: 30px;
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Safari */
        transform: translate(-50%, -50%);
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
        &.faulty {
            background-color: @color-highlight-blue;
        }
        &.unregistered {
            background-color: @color-highlight-brown;
        }
        &.inuse {
            background-color: @color-highlight-red;
            animation: pip 0.5s ease-out infinite;
            -webkit-animation: pip 0.5s ease-out infinite;
        }
        &.standby {
            background-color: @color-highlight-yellow;
        }
        &:hover {
            cursor: pointer;
        }
        &.selected {
            animation: fade 0.5s ease-out;
            animation-iteration-count: infinite;
            -webkit-animation: fade 0.5s ease-out;
            -webkit-animation-iteration-count: infinite;
        }
    }

}


.floorplan-container-thumbnail {
    width: 400px;
    .point {
        width: 10px;
        height: 10px;
    }
}

.floorplan-sidebar {
    position: absolute;
    top: 25px;
    left: 100%;
    white-space: pre-wrap;
    margin-left: -5px;
    z-index: 1;

    .floorplan-sidebar-tabs {
        padding: 6px 20px;
        font-size: 22px;
        margin: 5px 0px;
        background-color: darken(#fff, 0%);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        display: inline-block;
        white-space: nowrap;

        &:hover {
            // height: 60px;
        }

        i.tabs-icon {
            font-size: 22px
        }

        .tabs-title {
            display: inline-block;
        }
    }
}

.live-header-wrapper {
    border-top: 1px solid #ccc;
    padding-bottom: 20px;
}
.live-title {
    margin-left: 32px;
}
.live-title h1 {
    font-size: 24px;
    line-height: 34px;
}
.live-select {
    position: relative;
    margin-right: 40px;
}
.floorplan-error {
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    height: 100%;
}
.floorplan-margin {
}
.floorplan-image {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    border-radius: 8px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.objects-list td:first-of-type {
    text-align: left;
}
.live-stats-card {
    width: 925px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 26px 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.live-stats-card td {
    border-top: none;
}
.live-stats-heading {
    font-weight: bold;
    font-size: 16px;
}
.toolbar {
    position: absolute;
    height: 270px;
    width: 130px;
    right: 0;
    top: 90px;
    z-index: 9999;
    padding: 17px 14px 0;
    background: #fff;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
}
.toolbar-seat {
    height: 30px;
    width: 30px;
    background: url("/src/assets/images/toolbar-seat.png");
    display: block;
    float: right;
    margin-bottom: 28px;
}
.toolbar-meeting-room {
    height: 53px;
    width: 100px;
    display: block;
    background: url("/src/assets/images/toolbar-meeting-room.png");
    float: right;
    margin-bottom: 28px;
}
.toolbar-mr {
    height: 52px;
    width: 52px;
    display: block;
    background: url("/src/assets/images/toolbar-mr.png");
    float: right;
    margin-bottom: 28px;
}
.toolbar-arrow-right {
    height: 17px;
    width: 26px;
    background: url("/src/assets/images/toolbar-arrow-right.svg");
    display: block;
    float: right;
}
.tb-closed {
    width: 40px;
    padding: 235px 7px 0;
}
.toolbar-arrow-left {
    display: none;
    background: url("/src/assets/images/toolbar-arrow-left.svg");
    height: 17px;
    width: 26px;
    display: none;
    float: right;
}
.tb-closed .toolbar-seat,
.tb-closed .toolbar-meeting-room,
.tb-closed .toolbar-mr,
.tb-closed .toolbar-arrow-right {
    display: none;
    transition: all 0.1s;
}
.tb-closed .toolbar-arrow-left {
    display: block;
}
.breadcrumbs {
    margin-bottom: 22px;
}
.margin-top {
    margin-top: 22px;
}
.breadcrumbs a {
    /*color: bgrey;*/
    font-size: 16px;
}
.bc-divider {
    padding: 0 10px;
}
.bc-element-on {
    cursor: pointer;
}
.bc-element-off, .bc-root {
    color: gray;
}
